<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ders Ekle</h3>
  </div>
  <div class="panel-body">
    <form (ngSubmit)="onSubmit(courseForm)" #studentForm="ngForm">
      <div class="form-group">
        <label for="name">Adı</label>
        <input type="text" class="form-control" required [(ngModel)]="model.name" ngControl="name" #name="ngForm">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Ad gerekli
        </div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Soyadı</label>
        <input type="text" class="form-control" required [(ngModel)]="model.surname" ngControl="surname" #surname="ngForm">
        <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
          Soyadi Gerekli
        </div>
      </div>
      <div class="form-group">
        <label for="power">Telefon Numarası</label>
        <input type="text" class="form-control" required [(ngModel)]="model.phoneNumber" ngControl="phoneNumber" #phoneNumber="ngForm">
        <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
          Telefon numarasi gerekli
        </div>
      </div>
      <div class="form-group">
        <label for="power">Email</label>
        <input type="text" class="form-control" required [(ngModel)]="model.email" ngControl="email" #email="ngForm">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email gerekli
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!studentForm.form.valid">Submit</button>
    </form>
  </div>
</div>
