<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sinif Ekle</h3>
  </div>
  <div class="panel-body">
    <form (ngSubmit)="onSubmit(classForm)" #classForm="ngForm">
      <div class="form-group">
        <label for="name">Adı</label>
        <input type="text" class="form-control" required [(ngModel)]="model.name" ngControl="name" #name="ngForm">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Ad gerekli
        </div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Yeri</label>
        <input type="text" class="form-control" required [(ngModel)]="model.place" ngControl="place" #place="ngForm">
        <div [hidden]="place.valid || place.pristine" class="alert alert-danger">
          Yeri Gerekli
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!classForm.form.valid">Submit</button>
    </form>
  </div>
</div>
