<ul class="list-group">
<li class="list-group-item">
  <h3>
    <a [routerLink]="['Student','List']">Ogrenciler</a>
  </h3>
</li>
<li class="list-group-item">
  <h3>
    <a [routerLink]="['Teacher','List']">Hocalar</a>
  </h3>
</li>
<li class="list-group-item">
  <h3>
    <a [routerLink]="['Course','List']">Dersler</a>
  </h3>
</li>
<li class="list-group-item">
  <h3>
    <a [routerLink]="['Semester','List']">Egitim Ogretim Donemleri</a>
  </h3>
</li>
<li class="list-group-item">
  <h3>
    <a href="#">Butce</a>
  </h3>
</li>
</ul>
